h1#site-title {
    font-size: 72px;
    color: black;
    font-family: helvetica;
}

h1#article-title {
    font-size: 48px;
    color: black;
    font-family: helvetica;    
}

h1#shopping-rooms {
    font-size: 48px;
    color: black;
    font-family: helvetica;
}

h2#main-room {
    font-size: 20px;
    color: black;
    font-family: helvetica;
    font-style: italic;
}

h2#bargain-room {
    font-size: 20px;
    color: black;
    font-family: helvetica;
    font-style: italic;
}

h2#childrens-room {
    font-size: 20px;
    color: black;
    font-family: helvetica;
    font-style: italic;
}

h1#article-title2 {
    font-size: 48px;
    color: black;
    font-family: helvetica;
}

a {
    font-family: helvetica;
    font-size: larger;
    color: #807f17;
}

figure img{
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
    border-color:aqua;
}

figure.main-image {
    float: right;
    max-width: 500px    
}

figure.section-image {
float: right;
max-width: 320px;
background: #807f17;
color: white;
}

p {
    font-family: helvetica;

}

a{
    font-weight: bold;
    color:black;
}
ul li a{
    text-decoration:none;
    font-size: larger;
    color: black;
}

ul li a:hover{
text-decoration: dotted;
}